<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Enferno package source" value="http://nuget.enferno.local/nuget/" />
  </packageSources>
  <disabledPackageSources>
    <add key="Enferno package source" value="true" />
  </disabledPackageSources>
</configuration>